@font-face {
    font-family: "Comic Neue";
    font-style: normal;
    font-weight: 500;
    src: url(fonts/ComicNeue-Regular.ttf);
}

html, body {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Comic Neue", sans-serif;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bece7ff4-b430-45e9-a4ed-b364f4bade69/dkh6hj6-529722fe-4dcc-4bb0-a598-9b80be075c52.png/v1/fit/w_828,h_1018,q_70,strp/rubber_cat_by_temaneki_dkh6hj6-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTM4OCIsInBhdGgiOiIvZi9iZWNlN2ZmNC1iNDMwLTQ1ZTktYTRlZC1iMzY0ZjRiYWRlNjkvZGtoNmhqNi01Mjk3MjJmZS00ZGNjLTRiYjAtYTU5OC05YjgwYmUwNzVjNTIucG5nIiwid2lkdGgiOiI8PTExMjgifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.rXosjjPh4WW8E36GTWM1UTAjr4zvkX8StAe81G9v_tM);
    background-color: aliceblue;
    background-size: cover;
    background-repeat:repeat;
    font-size: clamp(16px, 1.5vw, 20px);
}

header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:20px;
    font-size: 16px;
}

header h1 {
    margin: 10px;
    margin-right: auto;
}
main {
    flex: 1 auto;
}
article{
    min-width: 50vw;
    overflow: hidden;
    display: flex;
    gap: 10px;
    justify-content:space-evenly;
    flex-wrap: wrap;
    word-break: break-word;
    background-color: #F8F1F1;
    border-radius: 20px;
    margin: 20px 5vw;
    padding: 10px;
}
footer {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 5px;
    background-color: rgba(70,50,10,0.5);
    color: #fff; 
    text-align: center;
    font-size: 14px;
    backdrop-filter: blur(5px);
}
#avatar{
    width: 83px;
    height: 83px;
    border-radius: 40px;
}
#menu {
    width: 63px;
    height: 41px;
}

#artwork {
    height: 45vw;
    width: 35vw;
    border-radius: 20px;
    margin: 1px;
}

#project {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: 10px;
}
#project a {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    margin:10px;
}

#project img {
    height: 7vw;
    border-radius: 40px;
}

#project a:hover img{
    transform: scale(1.1);
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    width: 140px;
    display: none;
    position: absolute;
    right: 5px;
    background-color: #F8F1F1;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgba(0,0,0,0.2);
}


@media screen and (max-width: 1400px) and (orientation: portrait){
    body {
        width: 100vw;
        font-size: 2em;
    }
    article {
        flex-direction: column-reverse;
        align-items: center;
        min-width: 16rem;
        margin: 5vw;
        padding:10px;
    }
    #artwork {
        height: 40rem;
        border-radius: 20px;
        margin: 5px 10px;
        width: 35rem;
    }
    #project img {
        height: 7vh;
        border-radius: 40px;
    }
    .dropdown-content {
        height: 20rem;
        width:10rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:700px) and (orientation: portrait){
    body {
        width: 100vw;
        font-size: 1.5em;
    }
    article {
        min-width: 16rem;
        padding:10px;
    }
    #artwork {
        height: 20rem;
        width: 15rem;
    }
}

@media screen and (max-width:500px) and (orientation: portrait){
    body {
        width: 100vw;
        font-size: 1.2em;
    }
    article {
        min-width: 16rem;
        padding:10px;
    }
    #artwork {
        height: 18rem;
        width: 15rem;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    header{
        padding: 10px;
        height: 1vh;
    }
    body {
        width: 100vw;
        font-size: 3vw;
    }
    
    article {
        flex-direction: row-reverse;
        /* min-width: 16rem; */
        padding:1.5vw;
        justify-content: space-evenly;
    }
    
    #artwork {
        height: 30vw;
        width: 28vw;
    }
        
    #project img {
        height: 6vw;
    }

    #avatar{
        padding: 1vh 0;
        width: 5vw;
        height: 5vw;
    }
}